[Desktop Entry]
Name=Orbit
GenericName=Orbit terminal file manager
Comment=fancy and modern terminal file manager
Type=Application
MimeType=inode/directory
Icon=orbit
Terminal=true
TryExec=orbit
Exec=orbit %u
Categories=Utility;System;FileTools;FileManager;Filesystem;ConsoleOnly
Keywords=File;Manager;Explorer
